# # Создайте файл .env из копии этого файла
# и замените значения переменных реальными данными

# Получение курса валют
url = "https://api.apilayer.com/exchangerates_data/convert"
API_key_currency = "тут должен быть ключ для получения курса валют"

# Получение стоимости акций по дням и курс валют там тоже есть, квота 25 обращений в день
url = "https://www.alphavantage.co/query"
API_key_shares = "тут должен быть ключ для получения стоимости акций"

# Демоданные для получения cтоимости акций.
url_ = "https://financialmodelingprep.com/api/v3/stock/list"
api_ = "тут должен быть ключ для получения стоимости акций""
