# # Создайте файл .env из копии этого файла
# и замените значения переменных реальными данными

API_key_currency = "ключ для получения курса валют"
API_key_shares = "ключ для получения стоимости акций"
